@import "tailwindcss";


:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ui-sans-serif,
    system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
